body{
  margin: 0;
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
footer {
  text-align: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
}
.table{

  padding: 20px;
  border-radius: 16px;
  background-color: #F4CE14;
}

.logo {
  height: 30vmin;
}
.nav-container{
  text-align: center;
}

.nav {

  margin:  30px;
  padding-top: 30px;
  padding-bottom: 30px ;
  text-decoration: none;
}


.header {
 background-color: rgb(28, 41, 37);
 margin:  10px 10px 20px;

};

.banner{
  margin-top: 20px;
}

.testimonial{
  border-bottom: 1px solid #ddd ;
  padding: 30px 0;
}
.testimonial img{
  border-radius: 60%;
  margin-right: 30px;
}
.testimonial-content{
  margin-top: 10px;
}


