.App {
  display: grid;
  text-align: center;
}

.logo {
  height: 30vmin;
}
nav li{
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
}

.nav a{
  margin: 20px;
  justify-content: center;
  text-decoration: none;
}


.header {
 display: flex;
 justify-content: space-between;
 padding: 10px;
 background-color: #333;

}

@media (max-width: 100px) {
  .header{
    flex-direction: column;
    align-items: center;
  }
.nav{
  margin-top: 10px;
}
.nav a {
  margin: 5px 0;
}
}

.a {
  color: #61dafb;
}

