body{
  margin: 0;
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: rgb(28, 41, 37);
  margin:  10px 10px 20px;

 };

 .banner{
  margin-top: 20px;
}

.banner {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 15px; /* Adjust the border radius as needed */
  padding: '40px';
  margin-top: 40px;
  border-radius: '50px';
}

.banner-container {
  max-width: 100%;
  padding: 0 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
  margin: 0 auto;
}

 .logo-container {
  max-width: 100%;
  margin: auto 0;
}

.nav {

  margin:  30px;
  padding-top: 30px;
  padding-bottom: 30px ;
  text-decoration: none;
}

.nav-container{
  text-align: center;
}

.testimonial{
  border-bottom: 1px solid #ddd ;
  padding: 30px 0;
}
.testimonial img{
  border-radius: 60%;
  margin-right: 30px;
}
.testimonial-content{
  margin-top: 10px;
}


.button{

  padding: 20px;
  border-radius: 16px;
  background-color: #F4CE14;
  color: black;
}

.formInput{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  margin: 8px;
}

footer {
  text-align: center;
  background-color: #333;
  padding: 10px;
  margin-top: 30px;
  color: #fff;
}
















